<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      password-reset
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="resetPassword(form)">
    <div>
      <ion-item>
        <ion-input name="email" type="email" placeholder="your@email.com" ngModel required>
        </ion-input>
      </ion-item>

    </div>
    <div style="text-align: center;margin: auto;">
      <ion-button type="submit" [disabled]="form.invalid">Reset Now</ion-button>
    </div>
  </form>

</ion-content>