<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Schedules</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item tappable *ngFor="let event of eventList">
      <ion-item-sliding>
        <ion-item>
          <h4>
            <span class="schedule">Schedule :{{event?.schedule}}</span>
            <p class="scheduleCat">Schedule Category :{{event?.scheduleCat}}</p>
            <p class="startDate">Start Date :{{event?.startDate}}</p>
            <p class="endDate">End Date :{{event?.endDate}}</p>
          </h4>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="removeEvent(event.id)">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>

  </ion-list>

</ion-content>