<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" color="primary" routerLink="/event-create">
    Create a New Schedule
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/event-list">
    See your Schedule
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="text-align: center;margin: auto;">
      <ion-button (click)="logOut()">Log Out</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>